body{
display: flex;
flex-direction: column;
align-items: center;
}

.container {
    border: 2px solid rgb(96 139 168);
    display: flex;
    flex-direction: column;
    width: 1000px;
    height: 1000px; 


}
.container div{ 
  border: 1px solid #1a0808;
    display: flex;
    flex:1;
    
}

.container > div >div{
     border: 1px solid #1a0808;
}

